/* 타이틀바 스타일 */
.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #555555;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* 타이틀 스타일 */
.titlebar .title {
    margin: 0;
}

/* 백키 화살표 스타일 */
.titlebar .back-arrow {
    cursor: pointer;
    font-size: 24px;
    padding: 0 10px;
    color: white;
    transition: color 0.3s ease;
}

.titlebar .back-arrow:hover {
    color: #ffcc00; /* 호버 시 색상 변경 */
}

/* 메뉴 버튼 스타일 */
.titlebar .menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}

.titlebar .menu-button span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
    transition: background-color 0.3s ease;
}

.titlebar .menu-button:hover span {
    background-color: #ffcc00;
}